# Covid 19 Sydney Project

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns 
import matplotlib.pyplot as plt
%matplotlib inline

Coronavirus cases downloaded from data.nsw.gov 
https://data.nsw.gov.au/data/dataset/nsw-covid-19-cases-by-location-and-likely-source-of-infection/resource/2776dbb8-f807-4fb2-b1ed-184a6fc2c8aa

In [46]:
df = pd.read_csv('Covid data updated.csv')

In [47]:
# Total of 3092 cases in nsw, with 7 features
df.shape

(3092, 7)

In [48]:
df.head()

,notification_date,postcode,likely_source_of_infection,lhd_2010_code,lhd_2010_name,lga_code19,lga_name19
0,22/1/20,2134.0,Overseas,X700,Sydney,11300.0,Burwood (A)
1,24/1/20,2121.0,Overseas,X760,Northern Sydney,16260.0,Parramatta (C)
2,25/1/20,2071.0,Overseas,X760,Northern Sydney,14500.0,Ku-ring-gai (A)
3,25/1/20,2033.0,Overseas,X720,South Eastern Sydney,16550.0,Randwick (C)
4,30/1/20,2350.0,Overseas,X800,Hunter New England,10130.0,Armidale Regional (A)

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3092 entries, 0 to 3091
Data columns (total 7 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   notification_date           3092 non-null   object
 1   postcode                    2949 non-null   float64
 2   likely_source_of_infection  3092 non-null   object
 3   lhd_2010_code               2942 non-null   object
 4   lhd_2010_name               2942 non-null   object
 5   lga_code19                  2942 non-null   float64
 6   lga_name19                  2942 non-null   object
dtypes: float64(2), object(5)
memory usage: 169.2+ KB

In [72]:
# Convert notification date from object to datetime variable 
df['notification_date']=pd.to_datetime(df['notification_date'])

In [73]:
df.head()

,notification_date,postcode,likely_source_of_infection,lhd_2010_code,lhd_2010_name,lga_code19,lga_name19
0,2020-01-22,2134.0,Overseas,X700,Sydney,11300.0,Burwood (A)
1,2020-01-24,2121.0,Overseas,X760,Northern Sydney,16260.0,Parramatta (C)
2,2020-01-25,2071.0,Overseas,X760,Northern Sydney,14500.0,Ku-ring-gai (A)
3,2020-01-25,2033.0,Overseas,X720,South Eastern Sydney,16550.0,Randwick (C)
4,2020-01-30,2350.0,Overseas,X800,Hunter New England,10130.0,Armidale Regional (A)

In [74]:
# Only want certain lga_name19 in analysis, just sydney data 
df['lga_name19'].nunique()

100

In [75]:
df['lga_name19'].unique()

array(['Burwood (A)', 'Parramatta (C)', 'Ku-ring-gai (A)', 'Randwick (C)',
       'Armidale Regional (A)', 'Sydney (C)', 'Penrith (C)',
       'Hornsby (A)', 'Fairfield (C)', 'Waverley (A)', 'Bayside (A)',
       'North Sydney (A)', 'Canterbury-Bankstown (A)',
       'The Hills Shire (A)', 'Sutherland Shire (A)', 'Ryde (C)',
       'Northern Beaches (A)', 'Cumberland (A)', 'Inner West (A)',
       'Goulburn Mulwaree (A)', 'Mid-Coast (A)', nan,
       'Blue Mountains (C)', 'Woollahra (A)', 'Blacktown (C)',
       'Willoughby (C)', 'Liverpool (C)', 'Canada Bay (A)',
       'Lane Cove (A)', 'Orange (C)', 'Central Coast (C) (NSW)',
       'Hunters Hill (A)', 'Hawkesbury (C)', 'Camden (A)',
       'Campbelltown (C) (NSW)', 'Coffs Harbour (C)', 'Mosman (A)',
       'Cessnock (C)', 'Georges River (A)', 'Wingecarribee (A)',
       'Wollongong (C)', 'Lake Macquarie (C)', 'Byron (A)', 'Kiama (A)',
       'Newcastle (C)', 'Shoalhaven (C)', 'Maitland (C)',
       'Bathurst Regional (A)', 'Shellharbour (C)', 'Tweed (A)',
       'Dungog (A)', 'Clarence Valley (A)', 'Liverpool Plains (A)',
       'Port Stephens (A)', 'Strathfield (A)', 'Bega Valley (A)',
       'Tamworth Regional (A)', 'Queanbeyan-Palerang Regional (A)',
       'Eurobodalla (A)', 'Warrumbungle Shire (A)',
       'Port Macquarie-Hastings (A)', 'Albury (C)', 'Ballina (A)',
       'Lismore (C)', 'Blayney (A)', 'Tenterfield (A)', 'Kempsey (A)',
       'Inverell (A)', 'Lithgow (C)', 'Nambucca (A)', 'Singleton (A)',
       'Dubbo Regional (A)', 'Mid-Western Regional (A)',
       'Wagga Wagga (C)', 'Federation (A)', 'Cabonne (A)', 'Griffith (C)',
       'Cootamundra-Gundagai Regional (A)', 'Wollondilly (A)',
       'Muswellbrook (A)', 'Narromine (A)', 'Greater Hume Shire (A)',
       'Snowy Monaro Regional (A)', 'Weddin (A)',
       'Upper Hunter Shire (A)', 'Glen Innes Severn (A)', 'Warren (A)',
       'Yass Valley (A)', 'Murrumbidgee (A)', 'Bellingen (A)',
       'Upper Lachlan Shire (A)', 'Hay (A)', 'Richmond Valley (A)',
       'Broken Hill (C)', 'Narrandera (A)', 'Berrigan (A)', 'Uralla (A)',
       'Hilltops (A)', 'Gunnedah (A)', 'Parkes (A)', 'Moree Plains (A)'],
      dtype=object)

In [76]:
# We only want the 30 that are in Sydney 
# Can create a list that contains these 30 lga's
sydney_lga = ['Bayside (A)','Blacktown (C)','Burwood (A)','Canada Bay (A)','Campbelltown (C) (NSW)','Canterbury-Bankstown (A)',
             'Cumberland (A)','Fairfield (C)','Georges River (A)','Hawkesbury (C)','The Hills Shire (A)','Hornsby (A)',
             'Hunters Hill (A)','Inner West (A)','Ku-ring-gai (A)','Lane Cove (A)','Liverpool (C)','Mosman (A)','North Sydney (A)',
             'Northern Beaches (A)','Parramatta (C)','Penrith (C)','Randwick (C)','Ryde (C)','Strathfield (A)','Sutherland Shire (A)',
             'Waverley (A)','Willoughby (C)', 'Woollahra (A)','Sydney (C)']

In [77]:
# We want to subset of data based on values in the lga name column
# Can create new dataframe with only the sydney lga list features in the lga_name19 column

df_sydney = df[df.lga_name19.isin(sydney_lga)]

In [78]:
# Less records now because data is only for sydney region
df_sydney.shape

(2080, 7)

In [79]:
df_sydney

,notification_date,postcode,likely_source_of_infection,lhd_2010_code,lhd_2010_name,lga_code19,lga_name19
0,2020-01-22,2134.0,Overseas,X700,Sydney,11300.0,Burwood (A)
1,2020-01-24,2121.0,Overseas,X760,Northern Sydney,16260.0,Parramatta (C)
2,2020-01-25,2071.0,Overseas,X760,Northern Sydney,14500.0,Ku-ring-gai (A)
3,2020-01-25,2033.0,Overseas,X720,South Eastern Sydney,16550.0,Randwick (C)
5,2020-02-21,2010.0,Overseas,X720,South Eastern Sydney,17200.0,Sydney (C)
...,...,...,...,...,...,...,...
3083,2020-05-23,2147.0,Overseas,X740,Western Sydney,10750.0,Blacktown (C)
3084,2020-05-24,2045.0,Locally acquired - source not identified,X700,Sydney,14170.0,Inner West (A)
3086,2020-05-24,2163.0,Overseas,X710,South Western Sydney,12850.0,Fairfield (C)
3087,2020-05-25,2026.0,Locally acquired - source not identified,X720,South Eastern Sydney,18050.0,Waverley (A)
3088,2020-05-25,2030.0,Locally acquired - source not identified,X720,South Eastern Sydney,18050.0,Waverley (A)

In [80]:
# Can drop unnecessary columns 
df_sydney = df_sydney.drop(labels=['lhd_2010_code','lhd_2010_name','lga_code19'],axis=1)
df_sydney

,notification_date,postcode,likely_source_of_infection,lga_name19
0,2020-01-22,2134.0,Overseas,Burwood (A)
1,2020-01-24,2121.0,Overseas,Parramatta (C)
2,2020-01-25,2071.0,Overseas,Ku-ring-gai (A)
3,2020-01-25,2033.0,Overseas,Randwick (C)
5,2020-02-21,2010.0,Overseas,Sydney (C)
...,...,...,...,...
3083,2020-05-23,2147.0,Overseas,Blacktown (C)
3084,2020-05-24,2045.0,Locally acquired - source not identified,Inner West (A)
3086,2020-05-24,2163.0,Overseas,Fairfield (C)
3087,2020-05-25,2026.0,Locally acquired - source not identified,Waverley (A)
3088,2020-05-25,2030.0,Locally acquired - source not identified,Waverley (A)

In [81]:
# Also need to reset index 
df_sydney.reset_index(drop=True, inplace=True)
df_sydney

,notification_date,postcode,likely_source_of_infection,lga_name19
0,2020-01-22,2134.0,Overseas,Burwood (A)
1,2020-01-24,2121.0,Overseas,Parramatta (C)
2,2020-01-25,2071.0,Overseas,Ku-ring-gai (A)
3,2020-01-25,2033.0,Overseas,Randwick (C)
4,2020-02-21,2010.0,Overseas,Sydney (C)
...,...,...,...,...
2075,2020-05-23,2147.0,Overseas,Blacktown (C)
2076,2020-05-24,2045.0,Locally acquired - source not identified,Inner West (A)
2077,2020-05-24,2163.0,Overseas,Fairfield (C)
2078,2020-05-25,2026.0,Locally acquired - source not identified,Waverley (A)
2079,2020-05-25,2030.0,Locally acquired - source not identified,Waverley (A)

In [58]:
df_sydney.to_csv('covid_sydney.csv')